.progress-tracker {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    height: 5%;
    border: 1px solid lightgray;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    align-items: center;
    z-index: 2222;

    .pip {
        /*background-color: #222;
        border-radius: 100%;
        height: 80%;*/
        /* margin: 15px;*/
        /*aspect-ratio: 1 / 1;*/
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
            content: '';
            width: 3vh;
            height: 3vh;
            border-radius: 100%;
        }

        &.success:before {
            background: green;

        }

        &.fail:before {
            background: red;
        }
    }
}
